.lista-armazem {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .lista-armazem h2 {
    margin:10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #374557;
  }
  
  .lista-armazem table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 12px 26px rgba(16, 30, 115, 0.06);
  }
  
  .lista-armazem thead {
    background-color: #fafafa;
    color: #25282b;
    height: 55px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 24px;
  }
  
  .lista-armazem tbody {
    background-color: #ffffff;
    color: #25282b;
    height: 55px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #53575d;
  }
  
  .lista-armazem th,
  .lista-armazem td {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
  
  
  .lista-armazem th:first-child,
  .lista-armazem td:first-child {
    padding-left: 18px;
  }
  
  .lista-armazem thead th:nth-child(1),
  .lista-armazem tbody td:nth-child(1),
  .lista-armazem thead th:nth-child(4),
  .lista-armazem tbody td:nth-child(4),
  .lista-armazem thead th:nth-child(5),
  .lista-armazem tbody td:nth-child(5),
  .lista-armazem tbody td:nth-child(6),
  .lista-armazem tbody td:nth-child(7) {
    width: 10%;
  }
  
  
  .cad-lista-armazem thead th:nth-child(2),
  .cad-lista-armazem tbody td:nth-child(2) {
    width: 15%;
  }
  
  .cad-lista-armazem thead th:nth-child(3),
  .cad-lista-armazem tbody td:nth-child(3) {
    width: 25%;
  }
  
  .lista-armazem #new-unit{
    align-self: flex-end;
  }